nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
    background-color: var(--primary);
}

.navLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    gap: 0.5em;
    color: white;
}

.navLink h1 { 
    margin: 0;
}