.wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.list {
    width: 250;
}

.mainWrapper {
    padding: 1.5em;
    background-color: #282c34;
}

.active {
    text-decoration: underline;
}